@import "../../variables.scss";

.card {
    border: $border;
    border-radius: 3px;
    box-shadow: $box-shadow;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    margin: 20px;
    background-color: $color-primary;
}
.image {
    height: 200px;
    
}
.title {
    margin: 20px;
    font-size: 25px;
    text-align: center;
}