.card {
    border: solid 2px blueviolet;
    width: 300px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin: 20px;
}
.image {
    height: 200px;
    
}
.title {
    margin: 20px;
    font-size: 32px;
}